.header{
    background-color: #FFC000;
    height: 80px;
    display: flex;
}

.menu{
    width: 100%;
}

.logo{
    cursor: pointer;
}

.info{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.name{
    font-size: 26px;
    font-weight: 800;

    user-select: none;
    cursor: pointer;
}

.panels{
    display: flex;
    align-items: center;
    margin-right: 3.5rem;
}

.panels > svg{
    margin-right: 1rem;
    cursor: pointer;

    transition: all .3s;
}

.panels > svg:hover{
    color: white;
}

.panels > div{
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
    margin-top: 1rem;

    user-select: none;
}

.nav > li:hover{
    color: white;
}

.nav__item{
    margin-right: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;

    transition: all .3s;
}

.nav__item svg{
    margin-right: 5px;
}

.sign-in{
    transition: all .3s;
    cursor: pointer;

    user-select: none;
}

.sign-in:hover{
    color: white;
    transform: scale(1.1);
}

.sign-in__icon{
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    cursor: pointer;

    transition: all .3s;
}

.sign-in__icon:hover{
    transform: scale(1.1);
}

svg{
    font-size: 20px;
}

.arrow::after{
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin-left: 5px;

    transition: all .3s;
}

.arrow__reverse::after{
    transform: rotateX(180deg);
}